In [1]:
#Inisiasi library
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from time import sleep
from bs4 import BeautifulSoup as bs
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
#Menginstall driver browser untuk Selenium
browser = webdriver.Chrome(ChromeDriverManager().install())
browser.maximize_window()
nama=''
#Menggunakan Selenium untuk membuka website
browser.get('https://santara.co.id/list-bisnis')
while True:
    try:
        sleep(3)
        container = browser.find_element_by_xpath('//*[@id="list-bisnis"]/div[last()]')
        if nama==container.text.split('\n')[2]:
            break
        else:
            nama = container.text.split('\n')[2]
        button = browser.find_element_by_css_selector('#button-read-more')
        #list-pralisting > div:nth-child(167)
        browser.execute_script("arguments[0].click();", button)
        SCROLL_PAUSE_TIME = 0.5

        # Get scroll height
        last_height = browser.execute_script("return document.body.scrollHeight")
        # Scroll down to bottom
        browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        # Wait to load page
        sleep(SCROLL_PAUSE_TIME)
        # Calculate new scroll height
        new_height = browser.execute_script("return document.body.scrollHeight")
        last_height = new_height
    except:
        break
# containers = browser.find_elements_by_xpath('//*[@id="list-bisnis"]/div[*]')
soup = bs(browser.page_source, 'lxml')
browser.close()

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 100.0.4896
[WDM] - Get LATEST driver version for 100.0.4896
[WDM] - Get LATEST driver version for 100.0.4896

[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\Muamkh\.wdm\drivers\chromedriver\win32\100.0.4896.60]

In [13]:
kode = []
nama = []
tipe = []
harga = []
namakontak = []
fb = []
ig = []
hp = []
persen = []
sisapersen = []
sisalembar = []
terjualpersen = []
terjuallembar = []
nominal = []
sisanominal = []
terjualnominal = []
periodedividen = []
kode = list(map(lambda x: x.text, soup.find_all("h1", {"class": "fs-16 merchant-txt-card bg-black fs-26 bold"})))
nama = list(map(lambda x: x.text.split('\n')[1], soup.find_all(class_='col-12 row-company-hover')))
tipe = list(map(lambda x: x.text.split('\n')[2], soup.find_all(class_='col-12 row-company-hover')))
harga = list(map(lambda x: x.text, soup.find_all("h4", {"class": "fs-13 bg-black ff-n"})))
namakontak = list(map(lambda x: x.text, soup.find_all("span", {"class": "black fs-10 ff-n bold"})))
fb = list(map(lambda x: x.text.split('\n')[1], soup.find_all("div", {"class": "contact-media ff-n"})))
ig = list(map(lambda x: x.text.split('\n')[2], soup.find_all("div", {"class": "contact-media ff-n"})))
hp = list(map(lambda x: x.text.split('\n')[3], soup.find_all("div", {"class": "contact-media ff-n"})))
persen = list(map(lambda x: x.text.split('\n'), soup.find_all("div", {"label-border-justify bg-white"})))
sisapersen = list(map(lambda x: x[1], persen[0::4]))
sisalembar = list(map(lambda x: x[1], persen[1::4]))
terjualpersen = list(map(lambda x: x[1], persen[2::4]))
terjuallembar = list(map(lambda x: x[1], persen[3::4]))
nominal = list(map(lambda x: x.text.split('\n'), soup.find_all("div", {"bg-label-right"})))
sisanominal = list(map(lambda x: x[1].strip(), nominal[0::2]))
terjualnominal = list(map(lambda x: x[1].strip(), nominal[1::2]))
periodedividen = list(map(lambda x: x.text.split('\n')[0], soup.find_all("h1", {"orange fs-14 font-800"})))[1::2]

In [14]:
len(periodedividen)

90

In [15]:
data = {
        "KodePerusahaan": kode,
        "NamaPerusahaan": nama,
        "Kategori": tipe,
        "DanaDibutuhkan": harga,
        "NamaKontak": namakontak,
        "Facebook": fb,
        "Instagram": ig,
        "NomorHP": hp,
        "PersenSahamTersisa": sisapersen,
        "LembarSahamTersisa": sisalembar,
        "PersenSahamTerjual": terjualpersen,
        "LembarSahamTerjual": terjuallembar,
        "NominalSahamTersisa": sisanominal,
        "NominalSahamTerjual": terjualnominal,
        "PeriodeDividen": periodedividen
    }

df = pd.DataFrame(data)
df.drop_duplicates(subset=['KodePerusahaan'], inplace=True)
df.to_csv('D:/Sagara/santaralistbisnis.csv', index=False)
print('done')

done

In [16]:
df

,KodePerusahaan,NamaPerusahaan,Kategori,DanaDibutuhkan,NamaKontak,Facebook,Instagram,NomorHP,PersenSahamTersisa,LembarSahamTersisa,PersenSahamTerjual,LembarSahamTerjual,NominalSahamTersisa,NominalSahamTerjual,PeriodeDividen
0,RHKA-R,Rhaka Jaya Farm,Peternakan,Rp 1.031.387.000,Kurniawan,-,-,81912664353,"0,00",0,"100,00",1.031.387,0,1.031.387.000,6 Bulan
1,KAMO,PT Kamo Group Sejahtera,Retail/Distribusi/Logistik,Rp 3.000.000.000,Aldiansyah Trisaputra,-,-,6285710790002,"0,00",0,"100,00",3.000.000,0,3.000.000.000,6 Bulan
2,ACJR,PT Ace Jaya Indo Realty,Retail/Distribusi/Logistik,Rp 4.000.000.000,Ruddy Soerjanto,-,-,6281584841818,"0,00",0,"100,00",4.000.000,0,4.000.000.000,6 Bulan
3,SAGA,PT Surya Abadi Garmindo,Retail/Distribusi/Logistik,Rp 2.200.000.000,andreas pitoyo,-,-,6281229437918,"0,00",0,"100,00",2.200.000,0,2.200.000.000,6 Bulan
4,HMDL,PT Hamada Logistik,Retail/Distribusi/Logistik,Rp 3.000.000.000,Hapi Zajuli,-,-,+6281293822558,"0,00",0,"100,00",3.000.000,0,3.000.000.000,6 Bulan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,PPYA,PT. Manggala Karya Bangun Sarana,Perkebunan/Argo,Rp 150.000.000,Bpk Javan Agustian Setyagraha,-,-,081227583680,"0,00",0,"100,00",50.000,0,150.000.000,1 tahun lalu 4 bulan
86,YMPN,YAMIE PANDA,Food And Beverage,Rp 900.784.000,Yamie Panda,-,-,62819860737,"0,00",0,"100,00",112.598,0,900.784.000,6 bulan
87,PMIN,PT. Kembar Cipta Rasa,Food And Beverage,Rp 576.170.000,Bpk Fiki Fernandes,-,-,085292127777,"0,00",0,"100,00",115.234,0,576.170.000,6 bulan
88,DURN,PT. Cipta Agrinusa Mandiri,Perkebunan/Argo,Rp 753.474.000,Ibu Karnasari Panca Utami,-,-,081213795854,"0,00",0,"100,00",376.737,0,753.474.000,12 bulan
89,MYSI,MAYASI,Food And Beverage,Rp 796.015.800,Resto Mayasi,-,-,628122005150,"0,00",0,"100,00",2.653.386,0,796.015.800,6 bulan